.headerWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.headText {
	color: var(--color-strawberry-red);
}

.buttonsWrapper {
	display: flex;
	gap: 0.5rem;
}
